@import url("https://fonts.googleapis.com/css2?family=Changa");

h1 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 4rem !important;
  font-family: "Changa", sans-serif;
}
