@import url("https://fonts.googleapis.com/css2?family=Changa&family=Poppins:wght@300;400;500&display=swap");

.robo-card {
  height: fit-content !important;
  font-family: "Poppins", sans-serif;

  margin-bottom: 50px !important;
}

.card-button {
  padding: 5px 16px;
  border: 1px solid gray;
  border-radius: 8px;
  font-size: 15px;
}

.card-button:hover {
  cursor: pointer;
}

.card-ul {
  list-style-type: square;
  text-align: left;
  line-height: 24px;
  font-size: 14px;
}

.card-tag {
  border-bottom: 1px solid gray;
}
